<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cityrally.app" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!--<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />-->


    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
                android:name=".engine.view.Home"
                android:screenOrientation="portrait"
                android:label="@string/title_activity_my">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".NotificationActivity" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

       <activity
                android:name=".engine.view.MyActivity"
                android:screenOrientation="portrait"
                android:label="@string/title_activity_my" >
        </activity>

        <service
            android:name=".engine.controller.location.ReceiveTransitionsIntentService"
            android:exported="false" />
        <activity
                android:name=".engine.model.puzzle.SlidePuzzleMain"
                android:screenOrientation="portrait"
                android:label="Puzzle" >
        </activity>
        <activity
                android:name=".engine.model.question.Question"
                android:screenOrientation="portrait"
                android:label="Question" >
        </activity>
        <activity
                android:name=".engine.model.flappy.FlappyMainActivity"
                android:screenOrientation="portrait"
                android:label="Flappy" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

</manifest>
